$color-primary: #FF0000;
$color-white: #FFFFFF;
$color-black: #000000;
$color-blue: #4AB8FF;
$color-yellow: #FDCC0C;
$color-pink: #FD5181;
$color-lightBlack: #282D30;

.--color-primary {
    color: $color-primary
}