@import './variables/variables.scss';


:root {
    background-color: $color-white;
    color: $color-primary;
    font-size: 1em;
    
}
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body {
    font-family: 'Montserrat', Helvetica, sans-serif, monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    background-color: #E5E5E5;
    * {
        margin: 0;
    }
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: $color-black;
}
/* .App {
    height: 100vh;
} */
.dashboard {
    max-width: 100%;
    margin: 3rem 2rem 2rem 15rem;
}