@import '../variables/variables.scss';

.navbar {
    max-width: 100%;
    background-color: $color-black;
    color: color-white;
    padding: 2rem 4rem 2rem 2rem;
    
    &__image {
        object-fit: cover;
        width: 8rem;
    }

    &__list {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        li > a {
            color: $color-white;
        }
    }
}