@import '../../assets/scss/variables/variables.scss';
.card {
    display: flex;
    &__img {
        padding: 1rem;
        margin-right: 1rem;
        
        
    }
    &__count {
        width: 100%;
        font-weight: 700;
        font-size: 1.5rem;
    }
    &__name {
        color: rgba($color-black, .5);
    }
    &:first-child{
        img {
            background-color: rgba($color-primary, .4);
        }
    }
    
    &:nth-child(2){
        img {
            background-color: rgba($color-blue, .4);
        }
    }

    &:nth-child(3){
        img {
            background-color: rgba($color-yellow, .4);
        }
    }

    &:nth-child(4){
        img {
            background-color: rgba($color-pink, .4);
        }
    }
}