@import '../../assets/scss/variables/variables.scss';
.score {
    background-color: #FBFBFB;

    &__percentage {
        font-weight: 700;
    }
    .recharts-radial-bar-sector {
        &:first-of-type {
            fill: #FBFBFB;
        }
    }
}