@import '../../assets/scss/variables/variables.scss';
.average {
   background-color: $color-primary;

      .recharts-tooltip-wrapper {
         outline: none !important;
         border: none !important;
      }
      .custom-tooltip {
         background-color: $color-white;
         color: $color-black;
         width: fit-content;
      }

      .recharts-cartesian-axis-tick-value {
         fill: $color-white;
      }
}
